@import url('https:\\fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}/* Um resete básico */

.game-board{
    width: 100%;
    height: 500px;
    background: linear-gradient(#87ceeb, #e0f6ff);
    border-bottom: 15px solid rgb(35, 160, 35);
    margin:0 auto;
    position: relative;
    overflow: hidden;}/*Tudo que sair da div game-board não ira aparecer*/

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;}

.jump{
    animation: mario-jump 500ms ease-out;}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;}

.menu{
   position: absolute;
   width: 100%;
   height: 220px;
   background: url('../images/footer.png');
   background-repeat: repeat-x;
   background-size: contain;
   animation: menu-animation 1.5s infinite linear}

h2{
    font-family:'Pess Start 2P', cursive;
    background: linear-gradient(#fff, #ff0000, #000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px -1px 10px red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 60px;
    margin-top: 60px;
    margin-left: 25%;
    position: absolute;}

.score{
    position: relative;
    width: 300px;
    height: 200px;
    float: right;
    border: 2px solid black;
    border-radius: 100px;
    background-color: chocolate;}

.score p{
    text-align: center;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;padding: 50px;}

button{
    width: 90px;
    height: 90px;
    border-radius: 150px;
    border: 1px solid black;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    background-color: green;
    margin-left: 10px;
    margin-top: 50px;}

    /*Animação do pipe*/
@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }}
    
    /*Animação do Mario*/
@keyframes mario-jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

/*Animação das Nuvens*/
@keyframes clouds-animation{
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}

/*Animação do chão*/
@keyframes menu-animation {
    from{
       background-position:100%;
    }
    to{
        background-position: 0%;
    }
}